@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,500,700,900');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #40169A;
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -.003em;
  font-size: 20px;
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #F8F5FE 0%, #F4EEFF 50%, #F4EEFF 100%);

}

a {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  color: #40169A;

}

a:hover{
color: #FD1D60;

}

.topLinks{
  float: right;
  padding: 16px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 56px;
  line-height: 1.15;
  letter-spacing: -.02em;
  color: rgba(0, 0, 0, 0.8);
  -webkit-font-smoothing: antialiased;
  color: #40169A;
  text-align: left;
  padding-bottom: 48px;
}

.center {
margin: auto;
max-width: 600px;

/*background-color: #e3e3e3;*/
}

.centerAbout {
margin: auto;
max-width: 600px;
padding-top: 60px;
padding-bottom: 140px;
/*background-color: #e3e3e3;*/
}

.top-nav-small {
  width: 100%;
  /*background-color: #e5e5e5;*/
  text-align: justify;
  overflow: auto;

}
button {

  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: #40169A;
  border-style: none;
  border-radius: 100px;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  color: white;
  white-space: nowrap;

}

#sortbuttons {
  padding-top:24px;
  margin: auto;
  left: 0;
  right: 0;
  top: 64px;
  padding-bottom: 48px;
  padding-left: 24px;
  padding-right: 24px;
  }

#bottomgradient{
  position: fixed;
  margin: auto;
  height: 160px;
  left: 0;
  right: 0;
  bottom: 0px;
  max-width: 700px;
  background-image: linear-gradient(to top, rgba(255,255,255,1) 60%, rgba(255,255,255,0));
  

}

.buttonfilter {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  padding: 0px 12px 0px 16px;
  border-style: solid;
  margin: 8px 12px;

}

.buttonfilter:hover { 
    border-color: #40169A;
    cursor: pointer;
    
}

.emoji {
    padding-left: 12px;
    font-size: 24px;
    
}

.button-sort {
    color: #FFFFFF;
    background-color: #40169A;
    border-color: #40169A;
}
  .button-sort-off {
    background-color: #F8F5FE;
    border-color: #AD8DF2;
    color: #5D37AD;

}

  .button-sort-off:hover {
    color: #40169A;

}


.Generate{

  font-weight: 500;
  font-size: 20px;
  left: 50%;
  bottom: 16px;
  z-index: 250;
  filter: drop-shadow(5px 0px 16px rgba(64, 22, 154, .3));
  padding: 12px 24px;
}

.Generate div {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
    
}

.Generate div img {
    height: 80%;
    transition: height .1s;
}

.Generate:hover div img {
    height: 90%;
}

.Generate:hover {
 
    cursor: pointer;
}

.favorite {
    width: 100%;
    padding: 8px;
    padding-top: 96px;
    text-align: right;
}

.favorite img:nth-child(2) {
    display:none;
}

.favorite:hover img:nth-child(2) {
    display:inline;
}

.favorite img:nth-child(1) {
    display:inline;
}

.favorite:hover img:nth-child(1) {
    display:none;
}


.submitJoke {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 48px;
}

.secondary {

  font-weight: 500;
  font-size: 16px;
  padding: 4px 16px;
  background-color: #F8F5FE;
  border-style: solid;
  border-color: #40169A;
  border-radius: 100px;
  color: #40169A;
  
}

.secondary:hover {
    background-color: #F0E9FF;
    cursor: pointer;
}



#joke1 {
  font-family: 'Poppins';
  font-size: 36px;
  font-weight: 300;
  
  
  margin: auto;
  padding-left: 32px;
  padding-right: 32px;
}
#answer1 {
  font-family: 'Poppins';
  font-size: 56px;
  font-weight: 700;
  
  margin: auto;
  padding-left: 32px;
  padding-right: 32px;
}
.longform {
  font-family: 'Poppins';
  font-size: 16px;
  text-align: left;
  margin-bottom: 16px;
}




/* MENU */

.topDiv {
    padding: 24px 48px 0px 48px;  
}

.topnav {
  overflow:auto; 
  border-bottom: 1px solid #DCCBFF;
  align-items: center;
  display: flex;
}




.topnav .icon {
  display: none;
  
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  
  .topDiv {
    padding: 12px 16px 0px 16px;  
}

 #sortbuttons {
  padding-top:24px;
  margin: auto;
  left: 0;
  right: 0;
  top: 64px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
  }

  .buttonfilter {
  font-size: 12px;
  padding: 0px 8px 0px 12px;
  margin: 4px 4px;
  border-width: 1px;
    }
 .emoji {
  padding-left: 4px;
  font-size: 16px;
 }
 
 .Generate{
  font-size: 16px;
  bottom: 16px;
  z-index: 250;
  padding: 8px 16px;
}
 .Generate div {
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    
}

#joke1 {
  font-family: 'Poppins';
  font-size: 24px;
  font-weight: 300;
  
  
  margin: auto;
  padding-left: 32px;
  padding-right: 32px;
}
#answer1 {
  font-family: 'Poppins';
  font-size: 32px;
  font-weight: 700;
  
  margin: auto;
  padding-left: 32px;
  padding-right: 32px;
}
.longform {
  font-family: 'Poppins';
  font-size: 16px;
  max-width: 500px;
  text-align: left;
  margin-bottom: 16px;
}
.favorite {
    padding-top: 12px;
    text-align: right;
}




}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* SLIDING NAV */

.sliding-navbar{
    position: absolute;
    top:0;
    left:-400px;
    height: 100vh;
    width: 300px;
    background: white;
    transition: left 0.8s ease-in-out;
    z-index: 300;
    border-radius: 0px 36px 36px 0px;
}
.sliding-navbar--open{
    left: 0px;
}
.mask{
    position:absolute;
    top: 0px;
    left:0px;
    height: 100vh;
    width:100%;
    background: black;
    z-index: 200;
    display: none;
    opacity: .25;

}
.show{
    z-index: 200;
    display: block;
}

.navbar--items{
    list-style-type: none;
    position: absolute;
    left: 36px;
    top: 16px;

    text-align: left;
}
.navbar--item{
    margin: 20px;
    letter-spacing: 1px;
    color: black;
    font-family:'Poppins', sans-serif;
    font-weight: 700;
}

.menu-opened:before {
    bottom: 3px;
    transition: bottom 0.3s ease-in-out;
}
.menu-opened:after {
    top: 3px;
    transition: top 0.3s ease-in-out;
}
